*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --clr-neutral1: hsl(0, 0%, 98%);
  --clr-neutral2: hsl(236, 33%, 92%);
  --clr-neutral3: hsl(233, 11%, 84%);
  --clr-neutral4: hsl(236, 9%, 61%);
  --clr-neutral5: hsl(235, 19%, 35%);
}
:root .light {
  display: block;
}
:root .dark {
  display: none;
}

:root[data-theme=dark] {
  --clr-neutral1: hsl(235, 21%, 11%);
  --clr-neutral2: hsl(235, 24%, 19%);
  --clr-neutral3: hsl(234, 39%, 85%);
  --clr-neutral4: hsl(236, 33%, 92%);
  --clr-neutral5: hsl(234, 11%, 52%);
  --clr-neutral6: hsl(233, 14%, 35%);
  --clr-neutral7: hsl(237, 14%, 26%);
}
:root[data-theme=dark] .dark {
  display: block;
}
:root[data-theme=dark] .light {
  display: none;
}

body {
  overflow-x: hidden;
  font-family: "Josefin Sans", lexend, tahoma;
  min-height: 100vh;
  background: var(--clr-neutral2);
}

input {
  outline: none;
  border: none;
  font-family: inherit;
  background-color: inherit;
  color: inherit;
}
input::placeholder {
  color: inherit;
}

p {
  max-width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

#bg-canva {
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: -1;
}
#bg-canva .mobile {
  display: block;
}
#bg-canva .desktop {
  display: none;
}
#bg-canva div img {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 500px;
  position: relative;
  padding: 1.5rem;
  left: 50vw;
  transform: translateX(-50%);
}
.container #site-header {
  padding: 2rem 0;
  color: var(--clr-neutral1);
  display: flex;
  justify-content: space-between;
}
.container .wrapper {
  position: relative;
  width: 100%;
  display: grid;
  row-gap: 1em;
  color: var(--clr-neutral5);
}
.container .wrapper .todo-add, .container .wrapper .todo-list-section, .container .wrapper .filter-tab {
  width: 100%;
  background-color: var(--clr-neutral1);
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.container .wrapper .todo-add, .container .wrapper .todo-list-section #todo-list li, .container .wrapper .todo-list-section .info, .container .wrapper .filter-tab {
  padding: 0.75rem 1.25rem;
}
.container .wrapper .todo-add, .container .wrapper .todo-list-section #todo-list li {
  display: flex;
  column-gap: 0.75rem;
  align-items: center;
}
.container .wrapper .todo-add .check, .container .wrapper .todo-list-section #todo-list li .check {
  flex-grow: 0;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid var(--clr-neutral3);
  cursor: pointer;
}
.container .wrapper .todo-add input, .container .wrapper .todo-list-section #todo-list li input {
  width: 100%;
  justify-self: stretch;
}
.container .wrapper .todo-add {
  width: 100%;
  color: var(--clr-neutral4);
}
.container .wrapper .todo-add .check.checked {
  background-image: url("../images/icon-check.svg"), linear-gradient(135deg, hsl(192deg, 100%, 67%), hsl(280deg, 87%, 65%));
  background-repeat: no-repeat;
  background-position: center;
}
.container .wrapper .todo-list-section {
  flex-wrap: wrap;
  flex-direction: column;
}
.container .wrapper .todo-list-section #todo-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}
.container .wrapper .todo-list-section #todo-list li p {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}
.container .wrapper .todo-list-section #todo-list li .delete {
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/icon-cross.svg");
  cursor: not-allowed;
}
.container .wrapper .todo-list-section #todo-list li.checked {
  order: -2 !important;
}
.container .wrapper .todo-list-section #todo-list li.checked .check {
  background-image: url("../images/icon-check.svg"), linear-gradient(135deg, hsl(192deg, 100%, 67%), hsl(280deg, 87%, 65%));
  background-repeat: no-repeat;
  background-position: center;
}
.container .wrapper .todo-list-section #todo-list li.checked p {
  text-decoration: line-through;
  color: var(--clr-neutral3);
}
.container .wrapper .todo-list-section #todo-list li.hidden {
  display: none;
}
.container .wrapper .todo-list-section #empty {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 100%;
  place-items: center;
  place-content: center;
}
.container .wrapper .todo-list-section .info {
  width: 100%;
  font-size: 0.75rem;
  display: flex;
  justify-content: space-between;
}
.container .wrapper .filter-tab {
  display: flex;
  justify-content: center;
  column-gap: 0.5rem;
}
.container .wrapper .filter-tab nav {
  cursor: pointer;
}
.container .wrapper .filter-tab nav.active {
  color: hsl(220deg, 98%, 61%);
}

@media screen and (min-width: 540px) {
  #bg-canva .mobile {
    display: none;
  }
  #bg-canva .desktop {
    display: block;
  }
}